 <!-- parte adicional IF NÂO existe posts -->
 <div class="dnf" *ngIf="dataNotFound">
   <div class="row">
     <div class="col-md-12">
       <h2>No posts.</h2>
     </div>
   </div>
 </div>
 <!-- FIM parte adicional de busca não encontrada -->

 <div class="card-container mx-auto" style="margin-bottom:20px;">
   <!-- Card -->
   <div class="card promoting-card" *ngFor="let postFriend of posts" style="padding:10px; margin-top:30px;">

     <!-- Card content -->
     <div class="card-body d-flex flex-row">

       <!-- Avatar -->
       <img src="http://www.gravatar.com/avatar/{{postFriend.gravatar_hash}}?d=wavatar" class="rounded-circle mr-3"
         height="50px" width="50px" alt="avatar">

       <!-- Content -->
       <div>

         <!-- Title -->
         <a class="nav-link pl-0" routerLinkActive="active" [routerLink]="[postFriend.userId]">
           <h4 class="card-title font-weight-bold mb-2">@{{postFriend.username}}</h4>
         </a>

         <!-- Subtitle -->
         <p class="card-text"><i class="far fa-clock pr-2"></i>{{postFriend.created_at}}</p>

       </div>

     </div>

     <!-- Card image -->
     <div class="view overlay">
       <div class="text-center"
         (click)="getDetailsPhoto(postFriend.idPhoto);openModalPhoto(modalPhoto);verifyLike(postFriend.idPhoto);">
         <img class="card-img-top rounded-0" [src]="postFriend.image_url" alt="Card image cap" data-toggle="tooltip"
           title="Details">
       </div>
       <p>
         <div class="mask rgba-white-slight">
           {{postFriend.commentcount || 0}} comments |
           {{ postFriend.likecount || 0}} likes
           <p class="card-text">{{ postFriend.text_photo }}</p>
         </div>
         <p>
     </div>

   </div>
   <!--End Ngfor-->
   <!-- Card -->
   <div class="button" style="text-align: center;padding: 20px;">
     <a class="btn btn-blue" (click)="loadMorePosts()">Load more</a>
   </div>
 </div>



 <!------------------------ Modal de imagem, aberto quando clicar na IMG ---------------------------->
 <ng-template #modalPhoto let-modal class="modal-content" style="padding: 10px;">
   <div class="modal-header">

     <!-- topo do modal -->
     <img src="http://www.gravatar.com/avatar/{{photoDetails[0]?.gravatar_hash}}?d=wavatar" class="rounded-circle mr-3"
       height="50px" width="50px" alt="avatar">
     <h4 class="modal-title">{{photoDetails[0]?.username}}</h4>
     <!-- end topo modal -->
     <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>

   <div class="modal-body">
     <!--  details image -->
     <div class="view overlay" style="text-align: center;">
       <img class="card-img-top" style="padding: 10px;" src={{photoDetails[0]?.image_url}} alt="details image">
       <div class="mask rgba-white-slight">
         <p>{{photoDetails[0]?.text_photo}}</p>
       </div>
     </div>
     <!--  like -->
     <div class="text-right">
       <!-- button like -->

       <div *ngIf="checkLike; else notLike">
         <button type="submit" class="btn btn-light" (click)="removeLike(photoDetails[0]?.id);">
           <i class="fa fa-thumbs-down"></i>
         </button>
         <span class="mx-3" style="color:red;">
           <i class="fa fa-2x fa-heart align-middle" data-toggle="tooltip" data-placement="top" title="I like it"></i>
           {{photoDetails[0]?.likecount ||  0}}
         </span>
       </div>

       <!-- button Dislike -->
       <ng-template #notLike>
         <div class="text-right">
           <button type="submit" class="btn btn-light" (click)="giveLike(photoDetails[0]?.id);">
             <i class="fa fa-thumbs-up"></i>
           </button>
           <span class="mx-3" style="color:red;">
             <i class="fa fa-2x fa-heart align-middle" data-toggle="tooltip" data-placement="top" title="I like it"></i>
             {{photoDetails[0]?.likecount ||  0}}
           </span>
         </div>
       </ng-template>

     </div>
     <!--end  button like -->

     <div *ngIf="photoComments && photoComments.length" class="modal-body">
       <div class="card-text" *ngFor="let comment of photoComments">
         <p>{{comment.username}} ->{{ comment.comment_text }}
           <a>
             <i class="fa fa-trash float-left p-1 my-1 mr-3"
               (click)="deleteComment(comment?.id);getDetailsPhoto(photoDetails[0]?.id);"></i>
           </a>
         </p>
       </div>
     </div>

     <form [formGroup]="commentForm">
       <div class="form-group">
         <i class="fa fa-comments-o prefix"></i>
         <textarea name="text" class="form-control" rows="1" formControlName="comments"></textarea>
         <!-- Button -->
         <button type="submit" class="btn btn-primary float-right mt-3"
           (click)="createComment(photoDetails[0]?.id);getDetailsPhoto(photoDetails[0]?.id)">
           Send
         </button>
         <!-- <button type="button" class="btn btn-light" style="float: right;"
          (click)="modal.close('Close click')">Close</button> -->
       </div>
       <!-- Form -->
     </form>

   </div>
 </ng-template>
