.feed-thumbnail { margin-bottom: 30px; overflow: hidden; display:block; float: left; position: relative; }
/* .feed-thumbnail-img { width: auto; height:390px; } */
.feed-thumbnail-img {
  width: 100%;
  height: 390px;
  object-fit: cover;
}
.feed-thumbnail:after { display: block; position: absolute; top:0; left:0; background: #000; z-index: 9}

span.spacing {
    padding-left: 9px;
    margin-left: 9px;
    height: 10px;
    border-left: 1px solid;
}


.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
    padding: 15px;
    overflow-y: auto;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  .modal-content {
    overflow-y: auto;
  }

  